In [1]:
import pandas as pd

df = pd.read_csv("../data/nifty_spot_raw.csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 978081 entries, 0 to 978080
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    978081 non-null  object
 1   open    978081 non-null  float64
 2   high    978081 non-null  float64
 3   low     978081 non-null  float64
 4   close   978081 non-null  float64
 5   volume  978081 non-null  int64
dtypes: float64(4), int64(1), object(1)
memory usage: 44.8+ MB

In [2]:
# convert date column to datetime
df["datetime"] = pd.to_datetime(df["date"])

# sort data
df = df.sort_values("datetime")

# set datetime as index
df = df.set_index("datetime")

df.head()

                                    date   open   high    low  close  volume
datetime
2015-01-09 09:15:00  2015-01-09 09:15:00  16.47  16.47  14.46  15.39       0
2015-01-09 09:16:00  2015-01-09 09:16:00  15.39  15.47  15.33  15.45       0
2015-01-09 09:17:00  2015-01-09 09:17:00  15.45  15.51  15.41  15.46       0
2015-01-09 09:18:00  2015-01-09 09:18:00  15.46  15.50  15.33  15.40       0
2015-01-09 09:19:00  2015-01-09 09:19:00  15.39  15.40  15.29  15.35       0

In [3]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 978081 entries, 2015-01-09 09:15:00 to 2025-08-06 17:56:00
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    978081 non-null  object
 1   open    978081 non-null  float64
 2   high    978081 non-null  float64
 3   low     978081 non-null  float64
 4   close   978081 non-null  float64
 5   volume  978081 non-null  int64
dtypes: float64(4), int64(1), object(1)
memory usage: 52.2+ MB

In [4]:
df_5min = df.resample("5min").agg({
    "open": "first",
    "high": "max",
    "low": "min",
    "close": "last",
    "volume": "sum"
})

In [5]:
df_5min = df_5min.dropna()
df_5min = df_5min.reset_index()

df_5min.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195631 entries, 0 to 195630
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   datetime  195631 non-null  datetime64[ns]
 1   open      195631 non-null  float64
 2   high      195631 non-null  float64
 3   low       195631 non-null  float64
 4   close     195631 non-null  float64
 5   volume    195631 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 9.0 MB

In [6]:
df_5min = df_5min[
    df_5min["datetime"] >= df_5min["datetime"].max() - pd.DateOffset(years=1)
]

df_5min.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18717 entries, 176914 to 195630
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  18717 non-null  datetime64[ns]
 1   open      18717 non-null  float64
 2   high      18717 non-null  float64
 3   low       18717 non-null  float64
 4   close     18717 non-null  float64
 5   volume    18717 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 1023.6 KB

In [7]:
# Spot data
df_5min.to_csv("../data/nifty_spot_5min.csv", index=False)

# Futures & Options (approximated)
df_5min.to_csv("../data/nifty_futures_5min.csv", index=False)
df_5min.to_csv("../data/nifty_options_5min.csv", index=False)