In [1]:
import pandas as pd

In [2]:
spot = pd.read_csv("../data/nifty_spot_clean.csv")
futures = pd.read_csv("../data/nifty_futures_clean.csv")
options = pd.read_csv("../data/nifty_options_clean.csv")

In [3]:
for df in [spot, futures, options]:
    df["datetime"] = pd.to_datetime(df["datetime"])

In [4]:
spot = spot.rename(columns={
    "open": "spot_open",
    "high": "spot_high",
    "low": "spot_low",
    "close": "spot_close",
    "volume": "spot_volume"
})

futures = futures.rename(columns={
    "open": "fut_open",
    "high": "fut_high",
    "low": "fut_low",
    "close": "fut_close",
    "volume": "fut_volume"
})

options = options.rename(columns={
    "open": "opt_open",
    "high": "opt_high",
    "low": "opt_low",
    "close": "opt_close",
    "volume": "opt_volume"
})

In [5]:
merged = pd.merge(
    spot,
    futures,
    on="datetime",
    how="inner"
)

merged = pd.merge(
    merged,
    options,
    on="datetime",
    how="inner"
)

In [6]:
merged.info()
merged.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18676 entries, 0 to 18675
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   datetime     18676 non-null  datetime64[ns]
 1   spot_open    18676 non-null  float64
 2   spot_high    18676 non-null  float64
 3   spot_low     18676 non-null  float64
 4   spot_close   18676 non-null  float64
 5   spot_volume  18676 non-null  int64
 6   fut_open     18676 non-null  float64
 7   fut_high     18676 non-null  float64
 8   fut_low      18676 non-null  float64
 9   fut_close    18676 non-null  float64
 10  fut_volume   18676 non-null  int64
 11  opt_open     18676 non-null  float64
 12  opt_high     18676 non-null  float64
 13  opt_low      18676 non-null  float64
 14  opt_close    18676 non-null  float64
 15  opt_volume   18676 non-null  int64
dtypes: datetime64[ns](1), float64(12), int64(3)
memory usage: 2.3 MB

,datetime,spot_open,spot_high,spot_low,spot_close,spot_volume,fut_open,fut_high,fut_low,fut_close,fut_volume,opt_open,opt_high,opt_low,opt_close,opt_volume
0,2024-08-07 09:15:00,18.74,18.74,13.72,17.04,0,18.74,18.74,13.72,17.04,0,18.74,18.74,13.72,17.04,0
1,2024-08-07 09:20:00,17.04,17.18,17.01,17.05,0,17.04,17.18,17.01,17.05,0,17.04,17.18,17.01,17.05,0
2,2024-08-07 09:25:00,17.04,17.14,17.01,17.09,0,17.04,17.14,17.01,17.09,0,17.04,17.14,17.01,17.09,0
3,2024-08-07 09:30:00,17.09,17.12,17.02,17.11,0,17.09,17.12,17.02,17.11,0,17.09,17.12,17.02,17.11,0
4,2024-08-07 09:35:00,17.11,17.27,17.10,17.14,0,17.11,17.27,17.10,17.14,0,17.11,17.27,17.10,17.14,0

In [7]:
merged.to_csv("../data/nifty_merged_5min.csv", index=False)